# Flask
FLASK_DEBUG=true

# Training
IMAGE_SIZE=224
BATCH_SIZE=32
EPOCHS=20
LEARNING_RATE=0.001
RANDOM_SEED=42
MIN_IMAGES_PER_CLASS=30
TRAIN_RATIO=0.70
VAL_RATIO=0.15
TEST_RATIO=0.15

# Model
MODEL_FILENAME=cnn_face_recognition.keras
CLASS_NAMES_FILENAME=class_names.json
RECOGNITION_THRESHOLD=0.70

# Camera
CAMERA_ID=1
CAMERA_CHECK_INTERVAL_SEC=1.0

# DB
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=sas
DB_USER=root
DB_PASSWORD=

# Mapping tabel Laravel SAS
STUDENT_TABLE=students
STUDENT_ID_COLUMN=id
STUDENT_NAME_COLUMN=name
STUDENT_CLASS_COLUMN=id_class
ATTENDANCE_TABLE=attendance_history_dailys
